@import "@common/constants.scss";

.controls {
  .title {
    text-align: center;
    font-size: 1.6em;
    color: $bgBrown;
  }

  .interface {
    section {
      padding: 25px 0;
      margin: 0;

      &:not(:last-child) {
        border-bottom: 1px solid #e0e0e0;
      }

      h2 {
        font-size: 1.15em;
        font-weight: 800;
        margin-bottom: 20px;
      }

      .contentContainer {
        display: flex;
        flex-wrap: wrap;

        //display: grid;
        //grid-column-gap: 10px;
        //grid-row-gap: 30px;
        //grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
