.top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;

  .left {
    grid-column: 1;
    justify-self: left;
  }
  .center {
    grid-column: 2;
    justify-self: center;
  }
  .right {
    grid-column: 3;
    justify-self: right;
  }

  .photo {
    width: 65px;
    height: 65px;
    background-color: #3c92de;
    border-radius: 5px;
  }
}
